.container {
    min-width: 50%;
    max-width: 100%;
}

mat-card {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

h2 {
    margin: 5px;
}

hr {
    margin-bottom: 8px;
}

mat-form-field {
    width: 100%;
}

button {
    display: inline-block;
    width: 25%;
    margin: 5px;
}

.error {
    color: red;
    font-family: 'Work Sans', sans-serif;
    max-width: 60% !important;
  }

.small {
    text-align: center;
    border-radius: 5px;
    height: 25px;
    padding-right: 8px;
    padding-left: 8px;
    background-color: rgba(255, 0, 0, 0.76);
    border: 1px solid black;
    display: inline-block;
}

.right {
    display: inline-block;
}

.left {
    display: inline-block;
    margin-right: 5px;
}

mat-icon {
    vertical-align: middle;
}

.done-icon {
    color: green
}


