$color-primary-dark: #232526;
$color-primary-light: #414345;

$theme-blue: #489BCF;
$theme-purple-light: #4A61A4;
$theme-purple-dark: #2E1B49;

$font:'Maven Pro', sans-serif;

.technologies {

    text-align: center;
    padding: 8rem 3rem;

    @media all and (max-width: 28.125em) {
        padding: 5rem 3rem;
    }

    &-container {
        padding: 6rem 3rem;
        max-width: 70%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5rem;
        margin: 0 auto;

        @media all and (max-width: 43.75em){
            grid-template-columns: repeat(3, 1fr);
   
        }
        
        @media all and (max-width: 28.125em) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &-div {
        padding: .5rem;
        border-radius: .5rem;
    }

    &-div:hover {
        transform: translateY(-1.5rem);
        box-shadow: 0 1.5rem 2.5rem rgba(black, .8);
        transition: all .75s;
    }

    &-h2 {
        max-width: 70%;
        margin: 0 auto;
        font-size: 3rem;
        font-weight: 400;
        position: relative;

        @media all and (max-width: 85.375em){
            max-width: 100%;
        }

        &::before {
            content: '';
            display: inline-block;
            width: 50rem;
            height: .1rem;
            position: absolute;
            background: #777;
            left: 0;
            top: 50%;
            z-index: -10;

            @media all and (max-width: 112.5em) {
                display: none;
            }
        }

        &::after {
            content: '';
            display: inline-block;
            width: 50rem;
            height: .1rem;
            position: absolute;
            background: #777;
            right: 0;
            top: 50%;
            z-index: -10;

            @media all and (max-width: 112.5em) {
                display: none;
            }
        }
    }

    &-h3 {
        font-weight: 700;
        color: #777777;
    }

    &-img {
        width: 75%;
        padding: 2rem;

        @media all and (max-width: 85.375em) {
            padding: 0;
        }
    }
}
