<mat-card>
    <mat-card-title>My Story</mat-card-title>
    <img src='/assets/images/ece+ethan.png' alt='Ece and Ethan in Istanbul'>
    <mat-card-content>
        Hi, my name is Ethan Towsend. I'm originally from Maine, and am currently living in San Diego California. My
        story starts out a lot like everyone else's. I had a fairly normal childhood.
        I grew up in a small town, no more than 2,000 people, where everyone knew everyone and there really wasn't much
        going on.
    </mat-card-content>
    <br />
    <mat-card-content>
        Fast forward to when I turned 18 and was getting ready to graduate highschool,
        I had no clue what I wanted to do with my life (like most kids that age). I did know one thing, I knew that I wasn't ready to go to college. However, I did end up attending for one semester, after which, I knew for sure that I wasn't ready for university. So, I dropped out (which as it turns out was one of my best decisions) and joined the Military. During my time in the Military my family had moved out to San Diego California, so naturally once I had finished my time in the military I moved out there to be with them.   
    </mat-card-content>
    <br />
    <mat-card-content>
        By this time I had aged some more and gained a little perspective on life, and decided I should enroll in college again. This ended up being the single best decision I have ever made, not because it would eventually lead to me getting my degree, but because in the process of going back to school I met the woman who would eventually become my wife. So, in reference to the previous paragraph, dropping out when I knew I wasn't ready for university, I believe, put me on the path to my wife and I meeting.
    </mat-card-content>
    <br/>
    <mat-card-content>
        After three 2.5 years of dating, my wife and I finally got married. We just celebrated our one year aniversarry. We've traveled the world togeteher, and been through a lot. She is the one who really pushed me to get my degree, and here I am at the ripe old age of 27 finally getting it. So, that is my story (up until this point).
    </mat-card-content>
</mat-card>