<!-- <div class='container'>
    <div class='personal'>
        <h1>
            Husband, Full-Stack Developer, and Novice Designer
        </h1>
        <p>I'm someone who's passionate about web technologies, <br/>
            writing the best code that I can, <br/> and creating dynamic
            and responsive web applications.</p>
        <img src='/assets/images/ethan.png' alt='ethans mugshot'>
    </div>

    <div id='first-div'>
        <div class='first-div-content'>
            <h2>
                Hi, I'm Ethan. It's a Pleasure to meet you.
            </h2>
            <p>Since my journey to become a full stack developer started two years ago when I enrolled at Bellevue University, I've learned A LOT.
                I had no prior knowledge of what creating web applications meant, let alone how to code even a basic HTML page. Since then, I've come a long way.
                I've built complete end to end MEAN stack applications on my own, I've built MEAN stack applications as part of a team, and I'm constantly learning more
                every day.
            </p>
        </div>

    </div>
    <div>
        <mat-card>
            <h3>My Skillsets</h3>
            <canvas id='barChart'></canvas>
        </mat-card>
    </div>
</div> -->