footer {
    background:#000000;
    height: 80px;
    margin-top: auto;
    position: relative;
    color: white;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

footer p { 
    padding-top: 15px;
}

button {
    margin: auto !important;
    padding-bottom: 10px;
}