.presentation-container {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    width: 80%;
    margin: auto;  
    margin-top: 50px;  
}

h1 {
    margin-bottom: 20px;
}

.presentation-card {
    margin: 10px;
    width: 30%;
    height: 30%;
    float: left;
}

.presentation-card:hover {
    box-shadow: 1px 1px 3px 3px #0575E6;
}

