.container {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 100px;
    margin-top: 50px;
}

.personal {
    text-align: center;
    -webkit-animation: slideRight .75s forwards;

}

h1 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 50px;
    font-size: 18px;
}

.mugshot {
    border-radius: 180%;
    height: 250px;
    width: 250px;
    display: inline-block;
    margin-bottom: 50px;
}

#first-div{
    background: #00F260; 
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);
    background: linear-gradient(to right, #0575E6, #00F260);
    width: 100%;
    height: 350px;
    position: absolute;
}

.first-div-content {
    color: white;
    text-align: center;
    margin:auto;
    width: 50%;
    line-height: 30px;
}

.first-div-content h2{
    margin-top: 90px;
    margin-bottom: 15px;
}

.skillsets-card {
    background-color: white;
    margin: auto;
    max-height: 100%;
    max-width: 60%;
    margin-top: 100px;
    z-index: 1;
    box-shadow: 1px 1px 1px 1px rgba(158, 158, 158, 0.507);
}

h3 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}


.main {
    text-align: center;
    margin: auto;
    margin-top: 290px;
    margin-bottom: 40px;
    font-family: 'Work Sans', sans-serif;
}

h2 {
    margin-bottom: 20px;
}

.main-card {
    margin: auto;
    background-color: white;
    box-shadow: 1px 1px 3px 3px rgba(158, 158, 158, 0.507);
    max-width: 60%;
}

.main-1 li {
    display: inline-block;
}

.home-container {
    position: relative;
    height: 189px;
    width: 350px;
    margin: 15px !important;
    background: #00F260; 
    background: -webkit-linear-gradient(to bottom, #0575E6, #00F260);
    background: linear-gradient(to bottom, #0575E6, #00F260);
    border-radius: 8px;
    box-shadow: 2px 2px 6px 6px rgba(158, 158, 158, 0.507);
}

.project-title {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.home-container-card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.75s ease
}

.home-container-card:hover {
    transform: rotateY(180deg);
}

.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-front > img {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
}

.card-back-li {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px
}

.card-back > a {
    margin: 2px;
}

.skillsets-card li {
    display: inline-block;
    margin: 25px;
}

.skillsets-card h1 {
    text-align: center;
}

.skillsets-ul {
    margin: auto;
    text-align: center;
}

.skillsets-li > img {
    max-height: 250px;
}

.social-icons {
    position: fixed;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
  }

  .social-icons a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.5s ease;
    color: white;
    font-size: 25px;
    margin: 2px;
    border-radius: 6px;

  }
  
  .social-icons a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .github {
      background: #6cc644;
      color: white
  }

  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .instagram {
    background: #E4405F;
    color: white;
  }

  @-webkit-keyframes slideRight {
    0% {
      transform: translateX(-1500px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @media (max-width: 768px) {

    .mugshot {
        height: 150px;
        width: 150px;
    }

    .personal h1{
        font-size: 23px;
        padding: 10px;
    }

    button {
        line-height: 0px ;
        padding: 0px ;
    }

    .home-container {
        width: 200px;
        height: 112px;
    }

    .home-contaienr li {
        width: 200px;
        height: 112px;
    }

    .home-container-card {
        max-width: 200px;
        max-height: 112px;
    }

    .card-back {
        max-width: 200px;
        max-height: 112px;
    }

    .card-back-li {
        font-size: 10px;
        margin-top: 3px;
        margin-bottom: 2px;
    }

    .card-back button {
        height: 20%;
        width: 25%;
        font-size: 7px;
    }

    .card-front {
        max-width: 200px;
        max-height: 98px;
    }

    .card-front > img {
        width: 200px;
        height: 98px;
    }


    .social-icons {
        position: fixed;
        top: 65%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 2;
    }

    .social-icons a {
        display: block;
        text-align: center;
        padding: 8px;
        transition: all 0.5s ease;
        color: white;
        font-size: 15px;
        margin: 2px;
        border-radius: 6px;
    
      }

    .first-div-content {
        color: white;
        text-align: center;
        margin: auto;
        width: 90%;
        line-height: 30px;
    }

      .first-div-content > p {
        font-size: 18px;
        line-height: 1;
        width: 100%;
        margin-bottom: 50px;
      }

      .skillsets-card {
          max-height: 100%;
          width: 90%;
      }

      .project-title {
          font-size: 12px;
      }

      .skillsets-li > img {
        max-height: 150px;
    }

    .main-card {
        max-width: 70%;
    }

  }

  @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) {

    button {
        line-height: 0px ;
        padding: 0px ;
    }

    .home-container {
        height: 221px;
        width: 450px;
    }

    .home-container-card .home-container .card-back .card-front .home-container-li {
        height: 200px;
        width: 450px;
    }


    .card-back-li {
        font-size: 20px;
        margin-top: 3px;
        margin-bottom: 2px;
    }

    .card-back button {
        height: 20%;
        width: 25%;
        font-size: 15px;
    }

    .card-front > img {
        height: 200px;
        width: 450px;
    }


    .social-icons {
        position: fixed;
        top: 65%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 2;
    }

    .social-icons a {
        display: block;
        text-align: center;
        padding: 8px;
        transition: all 0.5s ease;
        color: white;
        font-size: 40px;
        margin: 2px;
        border-radius: 6px;
    
      }

    .first-div-content {
        color: white;
        text-align: center;
        margin: auto;
        width: 90%;
        line-height: 30px;
    }

      .first-div-content > p {
        font-size: 22px;
        line-height: 1;
        width: 100%;
        margin-bottom: 50px;
      }

      .skillsets-card {
          max-height: 100%;
          width: 90%;
      }

      .project-title {
          font-size: 18px;
      }

      .skillsets-li > img {
        max-height: 200px;
    }

    .main-card {
        max-width: 70%;
    }

    .skillsets-card {
        max-height: 100%;
    }

  }