<div class="container">

  <!-- Showcase -->
  <header class="showcase">
    <div class="showcase-side-1">

    </div>
    <div class="showcase-side-2">

    </div>

    <div class="showcase-info">
      <h1 class='showcase-info-heading'>
        <span class='showcase-info-heading-text'>
          <span class='showcase-info-heading-text-1'>E</span>
          <span class='showcase-info-heading-text-2'>T</span>
          <span class='showcase-info-heading-text-3'>H</span>
          <span class='showcase-info-heading-text-4'>A</span>
          <span class='showcase-info-heading-text-5'>N</span>
          <span>&nbsp;</span>
          <span class='showcase-info-heading-text-6'>T</span>
          <span class='showcase-info-heading-text-7'>O</span>
          <span class='showcase-info-heading-text-8'>W</span>
          <span class='showcase-info-heading-text-9'>N</span>
          <span class='showcase-info-heading-text-10'>S</span>
          <span class='showcase-info-heading-text-11'>E</span>
          <span class='showcase-info-heading-text-12'>N</span>
          <span class='showcase-info-heading-text-13'>D</span>
        </span>
      </h1>
      <p class='showcase-info-text'>
        <span class="showcase-info-text-14">c</span>
        <span class="showcase-info-text-15">r</span>
        <span class="showcase-info-text-16">e</span>
        <span class="showcase-info-text-17">a</span>
        <span class="showcase-info-text-18">t</span>
        <span class="showcase-info-text-19">i</span>
        <span class="showcase-info-text-20">n</span>
        <span class="showcase-info-text-21">g</span>
        <span>&nbsp;</span>
        <span class="showcase-info-text-22">y</span>
        <span class="showcase-info-text-23">o</span>
        <span class="showcase-info-text-24">u</span>
        <span class="showcase-info-text-25">r</span>
        <span>&nbsp;</span>
        <span class="showcase-info-text-26">d</span>
        <span class="showcase-info-text-27">i</span>
        <span class="showcase-info-text-27">g</span>
        <span class="showcase-info-text-29">i</span>
        <span class="showcase-info-text-30">t</span>
        <span class="showcase-info-text-31">a</span>
        <span class="showcase-info-text-32">l</span>
        <span>&nbsp;</span>
        <span class="showcase-info-text-33">e</span>
        <span class="showcase-info-text-34">x</span>
        <span class="showcase-info-text-35">p</span>
        <span class="showcase-info-text-36">e</span>
        <span class="showcase-info-text-37">r</span>
        <span class="showcase-info-text-38">i</span>
        <span class="showcase-info-text-39">e</span>
        <span class="showcase-info-text-40">n</span>
        <span class="showcase-info-text-41">c</span>
        <span class="showcase-info-text-42">e</span>
      </p>
      <a href="https://github.com/ethantown93" target="blank" class="btn showcase-info-button">
        <i class="fa fa-github showcase-info-button-icon" aria-hidden="true"></i> Check out my GitHub
      </a>
    </div>
  </header>

  <!-- Home cards 1 -->

  <section class='cards' *ngIf='!projectsLoaded'>
    <div class="cards-gif"><img src="./assets/videos/loader.gif" alt=""></div>
  </section>

  <section class="cards-home" *ngIf='projectsLoaded'>
    <h2 class="cards-home-h2">My Recent Work</h2>
    <div class="cards-home-div-main">
      <div class="cards-home-div" *ngFor='let project of projects' data-aos="fade-up" data-aos-duration="750">
        <figure class="cards-home-div-figure">
          <img class='cards-home-div-img' src='{{project.src}}' alt='{{project.alt}}'>
          <figcaption class="cards-home-div-figure-caption">
            <i class="fa fa-eye cards-home-div-figure-caption-icon" aria-hidden="true"></i>
            <a (click)='openDialog(project)' class="cards-home-div-figure-caption-link">Learn
              More<span>&#8594;</span></a>
          </figcaption>
        </figure>
        <h3 class='cards-home-header'>{{ project.title }}</h3>
        <ul class='cards-home-list'>
          <li class='cards-home-list-item'>
            <strong>Login Credentials:</strong>
          </li>
          <li class='cards-home-list-item'>
            <strong>Login Username:</strong> {{ project.login_username }}
          </li>
          <li class='cards-home-list-item'>
            <strong>Login Password:</strong> {{ project.login_password }}
          </li>
        </ul>
        <div class="cards-home-learn-more">
          <a href="{{ project.gitHub }}" target="blank" class="cards-home-learn-more-links">
            <i class="fa fa-github" aria-hidden="true"></i> GitHub
          </a>
          <a href="{{ project.link }}" target="blank" class="cards-home-learn-more-links">
            <i class="fa fa-globe" aria-hidden="true"></i> Website
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Schedule interview -->
  <section class="resume dark">
    <div class="resume-bg-video">
      <video src='./assets/videos/galaxy.mp4' class="resume-bg-video-content" autoplay muted loop>
      </video>
    </div>
    <div class="resume-content">
      <h2 class='resume-h2'>Want to know more about me?</h2>
      <p class='resume-text'>Click the button below to schedule a time for us to talk! I can't wait to hear from you.
      </p>
      <a href="https://calendly.com/eetfitness/interview" target='blank' class="btn resume-button">
        Let's talk! <i class="fa fa-chevron-right"></i>
      </a>
    </div>
  </section>

  <!-- Home cards 2 -->

  <section class="technologies">
    <h2 class='technologies-h2'>Technologies I Use</h2>
    <div class="technologies-container">
      <div class='technologies-div' *ngFor="let langauge of languagesData" data-aos="fade-right" data-aos-duration="750">
        <img class="technologies-img" src='{{ langauge.src }}' alt='{{langauge.alt}}' />
        <h3 class='technologies-h3'>{{ langauge.languages }}</h3>
  
      </div>
    </div>
  </section>

  <!-- portolio -->
  <!-- <section class="portfolio dark">
        <div class="content">
          <h2>Interested in how I made this website?</h2>
          <p>Check out my GitHub repo for this portfolio by clicking on the link blow.</p>
            <a href="https://github.com/ethantown93/new-portfolio" target="blank" class="btn">
              Go to GitHub <i class="fa fa-chevron-right"></i>
            </a>
        </div>
      </section> -->

</div>