mat-sidenav-container {
  font-family: 'Work Sans', sans-serif;
}

.sidenav-container {
  height: 70px;
  width: 90%;
  max-width: 1250px;
  margin-bottom: 10px;
  color: #262626
}

.sidenav {
  width: 200px;
  margin: auto
}

.mat-drawer-container {
  background-color: rgba(0, 0, 0, 0) !important;
  margin: auto;
}

.primary-toolbar {
  background-color: rgba(0, 0, 0, 0);
}

.primary-toolbar ul {
  display: flex;
}

.primary-toolbar li {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.primary-toolbar li a, .primary-toolbar span {
  color: #262626
}

.primary-toolbar li a:hover, .primary-toolbar li a:active {
  border-bottom: 2px solid black;
}

.primary-toolbar button {
  margin-right: 5px;

}

.sidenav .mat-toolbar {
  background: rgba(0, 0, 0, 0.787);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-link {
  flex: 1 1 auto;
}

.primary-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.side-toolbar {
  color: white;
}

mat-nav-list li {
  display: block;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

@media (min-width: 768px){
  .sidenav {
    display: none;
  }

  .primary-toolbar > button {
    display: none;
  }

}

@media (max-width: 768px){
  .primary-toolbar a {
    display: none;
  }

  .primary-toolbar {
    padding: 0;
  }

  .name {
    margin-left: 5px;
    font-size: 18px;
  }

  mat-icon {
    color: #262626;
  }
}

@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) {

      .name {
        margin-left: 50px;
      }

  }