.error-container {
    width: 40%;
    margin: auto;
    height: 420px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;

}

mat-card {
    margin: auto;
    height: 100%;
    width: 100%;
    background-image: url('/assets/images/404.png');
    object-fit: cover;
    background-repeat: no-repeat;
    color: white;
}

button {
    width: 30%;
    position: absolute;
    top: 62%;
    right: 34%;
    background-color: #0575E6;
    color: white;
}

/* .error-div {
    background-color: rgba(5, 118, 230, 0.815);
    width: 30%;
    height: 30%;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
} */